<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!-- Cambiar YOUR_SERVER por el nombre del servidor o .\SQLEXPRESS -->
    <add name="DefaultConnection" connectionString="Server=YOUR_SERVER;Database=MariaGonzalez_DB;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="Forms" />
  </system.web>
</configuration>